.headerdiv {
    display: flex;
    justify-content: center;
    font-family: fantasy;
    font-size: 36;
}

.choices {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.choicebtn {
    display: flex;
    justify-content: center;
    border: transparent;
    border-radius: 50%;
    color: blue;
    font-family: cursive;
    font-size: 36px;
    padding: 5px;
    margin: 10px;
}

.choicebtn:hover {
    border-color: black;
    font-weight: bold;
    font-size: 38px;
    cursor: pointer;
}

.messagebox {
    display: flex;
    justify-content: center;
    font-family: monospace;
    font-size: 24px;
    margin-top: 20px;
    padding: 5px;

}